@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */

  --primary-color: #19a2ae;
  --secondary-blue: #2d3248;
  --secondary-grey: #6a6f81;

  --secondary-grey: hsl(0, 0%, 59%);

  /* Font */

  --fontsize-primary: 18px;

  --font-weight-primary: 400;
  --font-weight-secondary: 700;

  /* border */

  --bdrs: 15px;
  --profile-radius: 70px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--primary-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: var(--fontsize-primary);
  font-weight: var(--font-weight-secondary);
  color: var(--secondary-blue);
}

span {
  font-weight: var(--font-weight-primary);
  color: var(--secondary-grey);
}
.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  background-image: url(./imgs/bg-pattern-top.svg), url(./imgs/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: -50px -300px, 1000px 400px;
}

/* background-iamges */
.bg-container {
  width: 100%;
  position: relative;
}

/* card */

.card {
  width: 350px;
  height: 390px;
  background: white;
  /* z-index: 2; */
  position: absolute;
  border-radius: var(--bdrs);
  box-shadow: 0px 0px 100px -40px rgb(36, 36, 36);
}

.bg-card-pattern {
  border-radius: var(--bdrs) var(--bdrs) 0 0;
}

.profile-section {
  text-align: center;
}

.profile-img {
  border-radius: var(--profile-radius);
  border: solid rgb(255, 255, 255) 6px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.username {
  font-size: var(--fontsize-primary);
}

.location {
  position: relative;
  /* border: 1px solid #000; */
  top: 10px;
}
.profile-stats {
  font-size: var(--fontsize-primary);
  margin-top: 30px;
  border-top: solid 1px rgba(0, 0, 0, 0.15);
}

.profile-stats-inner-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0px 20px 0 20px;
}

.text {
  /* border: 1px solid #000; */
  font-size: 14px;
  color: var(--secondary-grey);
  letter-spacing: 0.9px;
}

.attribution {
  position: absolute;
  bottom: 0;
  color: white;

  width: 100%;
  display: flex;
  justify-content: center;
}

/* media queries & svg */

@media (max-width: 375px) {

  .main-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  
    background-image: url(./imgs/bg-pattern-top.svg), url(./imgs/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -800px -500px, 200px 180px;
  }
  



  .attribution {
    font-size: calc(var(--fontsize-primary) - 5px);
  }
}

@media (max-width: 280px) {
  .attribution {
    font-size: calc(var(--fontsize-primary) - 10px);
  }
}

